.navbar {
    background-color: $dark-nav;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;

    * {
        background-color: $dark-nav;
    }

    // .navbar-mobile-container {

    // }

    .navbar-link-list {
        display: none;
        list-style-type: none;
        align-items: center;

        li {
            margin: 0 20px;
        }

        @media (min-width: 480px) {
            display: flex;
        }
    }

}

.logo {
    height: 50px;
    width: 50px;
}