@import './styles/header.scss';

$color-teal: rgb(0, 163, 184);

* {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  margin: 0;
}

.App {
  min-height: 100vh;
}

a {
  color: $color-teal;
  font-weight: bold;
  text-decoration: none;
  padding: 3px 5px;
  cursor: pointer;

  &:hover {
    color: rgb(0, 0, 0);
    background-color: $color-teal;
    border-radius: 8px;
  }
}

.content-container {
  height: 90vh;
  max-width: 50vw;
  margin: 50px auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

  .section-box {
    margin: 0 50px;
    display: flex;
    flex-direction: column;

    * {
      margin-bottom: 10px;
    }
  }

  @media (min-width: 768px) {
    flex-direction: row;
  }
}

.hero-wrapper.home {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  .hero-box {
    width: 400px;
    
    .avatar {
      max-width: 85%;
    }

    .hero-text {
      margin: 15px auto;

      &.name {
        font-size: 70px;
      }
      .text-location {
        color: rgb(160, 55, 55);
      }
    }
  }

  @media (min-width: 768px) {
    flex-wrap: nowrap;
  }
}

.main-content {
  padding-bottom: 300px;
}