// DARK MODE THEME
$dark-text: rgb(255, 255, 255);
$dark-link: rgb(0, 163, 184);
$dark-link-hover: rgb(255, 255, 255);
$dark-link-hover-bkg: rgb(0, 163, 184);
$dark-button-link: rgb(255, 255, 255);
$dark-button-bkg: rgb(0, 163, 184);
$dark-button-hover: rgb(0, 100, 113);
$dark-background: rgb(33, 33, 33);
$dark-nav: rgb(0, 0, 0);

// LIGHT MODE THEME
$light-text: rgb(33, 33, 33);
$light-link: rgb(255, 192, 203);
$light-link-hover: rgb(33, 33, 33);
$light-link-hover-bkg: rgb(255, 192, 203);
$light-background: rgb(255, 255, 255);
$light-nav: rgb(255, 255, 255);

@import './styles/header.scss';
@import './styles/portfolio.scss';

* {
  background-color: $dark-background;
  color: $dark-text;
  margin: 0;
}

.App {
  min-height: 100vh;
}

a {
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
  
  &.text-link {
    color: $dark-link;
  
    &:hover {
      color: $dark-link-hover;
      background-color: $dark-link-hover-bkg;
      padding: 3px 8px;
      border-radius: 8px;
    }
  }
  
  &.button-link {
    color: $dark-button-link;
    background-color: $dark-button-bkg;
    padding: 8px 10px;
    border-radius: 8px;
    margin: 15px auto;
    display: inline-block;

    &:hover {
      border-left: 5px solid $dark-button-hover;
      border-bottom: 5px solid $dark-button-hover;
    }
  }
}

.content-container {
  max-width: 70vw;
  margin: 10px auto;

  @media (min-width: 1024px) {
    max-width: 60vw;
  }
}

.hero-section {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .hero-box {

    .avatar {
      max-width: 85%;

      @media (min-width: 480px) {
        width: 100%;
      }
    }

    .hero-text {

      &.name {
        font-size: 70px;
      }

      &.small, &.title {
        margin: 15px 0;
      }

      .text-location {
        color: rgb(160, 55, 55);
      }
    }
    
    @media (min-width: 1024px) {
      margin: 0 30px;
    }
  }

  @media (min-width: 1024px) {
    flex-direction: row;
  }
}

.main-content {
  padding-bottom: 300px;
}

.section-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .section-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 400px;

    * {
      margin-bottom: 15px;
    }

    @media (min-width: 768px) {
      align-items: flex-start;
    }
    @media (min-width: 1024px) {
      margin: auto 20px;
    }
  }

  &.portfolio {
    @media (min-width: 768px) {
        flex-direction: column;
      }
  }

  @media (min-width: 768px) {
    flex-direction: row;
  }
}

.about-img {
  width: 250px;
  margin: 20px;
  // background-color: white;

  @media (min-width: 480px) {
    min-width: 250px;
  }
}