@import './styles/header.scss';

$color-teal: rgb(0, 163, 184);

* {
  text-align: center;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  margin: 0;
}

.App {
  min-height: 100vh;
}

a {
  color: $color-teal;
  font-weight: bold;
  text-decoration: none;
  padding: 3px;
  cursor: pointer;

  &:hover {
    color: rgb(0, 0, 0);
    background-color: $color-teal;
  }
}

.hero-wrapper.home {
  display: flex;
  align-items: center;
  justify-content: center;

  .hero-box-text {
    width: 300px;
  
    .hero-text {
      margin: 15px auto;

      &.name {
        font-size: 70px;
      }
    }
  }
}

.main-content {
  padding-bottom: 300px;
}